.root {
  display: flex;
  gap: 1em;
  align-items: center;
  padding: 1em;
}
.root + .root {
  border-top: 1px solid #90a4ae;
}

.thumbnail {
  width: 120px;
}

.field {
  flex: 1;
}
.field > *:first-child {
  margin-top: 0;
}
.field > *:last-child {
  margin-bottom: 0;
}
