.root > *:first-child {
  margin-top: 0;
}
.root > *:last-child {
  margin-bottom: 0;
}

.textarea {
  display: block;
  width: 100%;
  height: calc(2em * 1.4);
  padding: 0.5em;
  border: none;
  line-height: 1.4;
  resize: none;
  outline: none;
}
.textarea:focus {
  height: calc(4em * 1.4);
  border-bottom: 1px solid #90a4ae;
}

.action {
  margin: 0.5em 0;
  text-align: right;
}

.timelines {
  border-top: 1px solid #90a4ae;
  border-bottom: 1px solid #90a4ae;
}

.poster {
  display: flex;
  gap: 0.5em;
  font-size: 0.875rem;
}

.name {
  font-weight: bold;
}

.identity {
  color: #90a4ae;
  font-weight: normal;
}
