.root {
  display: flex;
  gap: 1rem;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

.header {
  width: 280px;
  height: 100%;
}

.main {
  flex: 1;
  height: 100%;
  border-right: 1px solid #90a4ae;
  border-left: 1px solid #90a4ae;
}
