.root {
  position: relative;
  display: flex;
  gap: 1rem;
  align-items: start;
  max-width: 1280px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

.header {
  position: sticky;
  top: 0;
  width: 280px;
}

.main {
  flex: 1;
  min-height: 100%;
  border-right: 1px solid #90a4ae;
  border-left: 1px solid #90a4ae;
}
